
.Curved {
    font-family: Helvetica;
    color: black;
    font-size: 14px;
    width: 200px;
}

.completionList {
    border: solid 1px #444444;
    margin: 0px;
    padding: 2px;
    height: 100px;
    overflow: auto;
    background-color: #FFFFFF;
}

.autocomplete_completionListElement {
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: auto;
    text-align: left;
    list-style-type: none;
}

.listItem {
    color: #1C1C1C;
}

.itemHighlighted {
    background-color: #ffc0c0;
}

.divTableCell {
    display: table-cell;
    font-family: Helvetica;
    color: black;
    font-size: 14px;
    padding: 1px 5px 1px 5px;
}

.itemHighlighted {
    background-color: #ffc0c0;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 900px;
    height: 900px;
    font-family: Helvetica;
}

#_ParentDiv {
    border-color: white;
}

#ContentPlaceHolder1_LineChart1__tooltipDiv {
    padding: 0px;
    border-bottom-style: none;
    left: 0px;
    top: 0px;
}

.pTitleStyles {
    font-family: Helvetica;
    color: #843C0C;
    font-size: 14px;
}

.pLabelStyles {
    font-family: Helvetica;
    color: black;
    font-size: 14px;
}

.gridStyle {
    font-family: Helvetica;
    font-size: 14px;
    grid-area: auto;
    width: 100%
}

#navigation {
    margin: 0;
    padding: 0 1em;
    background: #AC172B;
    height: 3em;
    list-style: none;
}

    #navigation > li {
        float: left;
        height: 90%;
        margin-right: 0.5em;
        padding: 0 1em;
        font-family: Helvetica;
    }

        #navigation > li > a {
            float: left;
            height: 90%;
            color: white;
            text-decoration: none;
            line-height: 3;
        }

            #navigation > li > a:hover {
                display: block;
                color: white;
                text-decoration: underline;
                z-index: 100000;
            }

        #navigation > li.sub {
            position: relative;
        }

            #navigation > li.sub ul {
                display: none;
                position: absolute;
                top: 30px; /* this is too much. Try something more like 20px */
                z-index: 5;
                width: 14em;
                margin: 0;
                padding: 0.5em 0;
                list-style: none;
                background: #AC172B;

                /*position: absolute;
                top: -1000em;*/
            }

                #navigation > li.sub ul li {
                    width: 90%;
                    margin: 0 auto 0.3em auto;
                }

                    #navigation > li.sub ul li a {
                        height: 90%;
                        display: block;
                        padding: 0.4em;
                        color: white;
                        text-decoration: none;
                        white-space: nowrap;
                        line-height: inherit !important;
                    }

                        #navigation > li.sub ul li a:hover {
                            display: block;
                            background: #c60;
                            text-decoration: underline;
                            z-index: 100000;
                        }

            #navigation > li.sub:hover ul {
                display: block;
                top: 40px;
                left:-5px;
                z-index: 100000;
            }
#menuwrapper:hover div {
    display: block;
}
.dropdown {
    color: #555;
    margin: 3px -22px 0 0;
    width: 200px;
    position: relative;
    height: 17px;
    text-align: left;
}

.submenu {
    background: #fff;
    position: absolute;
    top: -12px;
    left: -20px;
    z-index: 100;
    width: 160px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown li a {
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

    .dropdown li a:hover {
        display: block;
        background: #AC172B;
        color: #FFFFFF;
        text-decoration: none;
    }

a.account {
    font-size: 11px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 11px 0 0 20px;
    height: 28px;
    width: 140px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    background: url(icons/arrow.png) 116px 17px no-repeat;
    cursor: pointer;
}

.root {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    padding: 11px 0 0 0px;
    border-top: 1px solid #dedede;
}
